<p 
  class="fw-bold text-secondary-dark bg-info fs-3 mb-2 pt-1 m-0" 
  style="height: 47px"
>
  Chats 
  <i class="bi bi-chat-square-text-fill"></i>
</p>
<% chats.forEach(data => { %>
  <div class="d-flex justify-content-between align-items-center mx-3 mt-1">
    <a 
      href="/dialogue/<%= data.pseudo %>" 
      class="text-decoration-none text-capitalize fw-bold fs-5 m-0 p-0
      <%= 
        chatting && chatting.pseudo === data.pseudo 
        ? 'text-info' 
        : 'text-secondary' 
      %>"
    >
    <img 
      src="<%= '/image/profil' + data.pseudo %>" 
      onerror="this.onerror=null; this.src='/public/img/profilDefault.jpg';" 
      class="card-img-top round wh-25 border border-2 
      <%= chatting && chatting.pseudo === data.pseudo ? 'border-info' : 'border-secondary' %>" 
    >
      <%= data.pseudo %><br>
    </a>
    <form action="/archive" method="POST" class="m-0 p-0">
      <input 
        type="hidden" 
        name="destinataire" 
        value="<%= data.pseudo %>"
      />
      <button 
        type="submit" 
        class="btn p-0 m-0 d-flex gap-2 align-items-center"
      >
        <span class="text-link text-secondary fst-italic">
          Archiver
        </span>
        <i class="bi bi-eye-slash-fill text-secondary"></i>
      </button>
    </form>    
  </div>
<% }); %>

