<!-- Modals for editing and deleting messages -->
<% messagesFilter.forEach(message => { %>
  <!-- Edit Modal -->
  <div 
    class="modal fade" 
    id="editMessageModal<%= message._id %>" 
    tabindex="-1" 
    aria-labelledby="editMessageModalLabel<%= message._id %>" 
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-success-light">
          <h5 class="modal-title" id="editMessageModalLabel<%= message._id %>">
            Modifier Message
          </h5>
          <button 
            type="button" 
            class="btn-close" 
            data-bs-dismiss="modal" 
            aria-label="Close"
          >
          </button>
        </div>
        <div class="modal-body">
          <form action="/edit-message/<%=message._id %>?_method=PUT" method="POST">
            <input type="hidden" name="_method" value="PUT">
            <input 
              type="hidden" 
              name="destinataire" 
              value="<%=message.destinataire %>"
            >
            <div class="form-group">
              <label for="message" class="mb-2 text-capitalize"> 
                à : 
                <span class="fw-bold text-info">
                  <%=message.destinataire %>
                </span>
              </label>
              <textarea 
                class="form-control bg-info-light" 
                name="message" 
                rows="4" 
                required
              >
                <%=message.message %>
              </textarea>
            </div>
            <input 
              type="hidden" 
              name="datetime" 
              value="<%=message.datetime %>"
            />
            <div class="modal-footer">
              <button 
                type="button" 
                class="btn btn-secondary" 
                data-bs-dismiss="modal"
              >
                Annuler
              </button>
              <button type="submit" class="btn btn-success">
                Enregistrer
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Delete Modal -->
  <div 
    class="modal fade" 
    id="deleteMessageModal<%= message._id %>" 
    tabindex="-1" 
    aria-labelledby="deleteMessageModalLabel<%= message._id %>" 
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-danger-light">
          <h5 
            class="modal-title fw-bold" 
            id="deleteMessageModalLabel<%= message._id %>"
          >
            Confirmer la suppression
          </h5>
          <button 
            type="button" 
            class="btn-close" 
            data-bs-dismiss="modal" 
            aria-label="Close"
          >
          </button>
        </div>
        <div class="modal-body text-center">
          <p>Confirmer la suppression du message ?</p>
          <p class="text-secondary fst-italic">"<%= message.message %>"</p>
        </div>
        <div class="modal-footer">
          <button 
            type="button" 
            class="btn btn-secondary" 
            data-bs-dismiss="modal"
          >
            Annuler
          </button>
          <form 
            action="/delete-message/<%= message._id %>?_method=DELETE" 
            method="POST"
          >
            <input type="hidden" name="chatting" value="<%= chatting %>"/>
            <input type="hidden" name="_method" value="DELETE"/>
            <button type="submit" class="btn btn-danger">
              Supprimer
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
<% }) %>

<!-- Search Modal -->
<% if (showModal) { %>
  <div 
    class="modal fade show" 
    id="searchModal" 
    tabindex="-1" 
    aria-labelledby="searchModalLabel" 
    aria-hidden="true" 
    style="display: block"
  >
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-top">
      <div class="modal-content">
        <!-- Head -->
        <div class="modal-header bg-success-light">
          <h5 class="modal-title" id="searchModalLabel">
            Résultats de la recherche
          </h5>
          <a 
            href="/dialogue/<%= chatting.pseudo %>" 
            class="btn-close" 
            aria-label="Close"
          >
          </a>
        </div>
        <!-- Body -->
        <div class="modal-body">
          <div id="searchResults" class="d-flex flex-column">
            <% 
              if(messagesFilterSearcher && messagesFilterSearcher.length > 0){
            %>
              <% messagesFilterSearcher.forEach(message => { %>
                <div class="d-flex justify-content-center mt-2">
                  <% if (message.expediteur === user.pseudo) { %>
                    <div class="d-flex fs-5 bg-primary mw-85 round-msg gap-2 p-2">
                      <span class="fs-6 text-muted fw-light">
                        <%= message.datetime %>
                      </span>
                      <p class="d-flex fs-5 text-capitalize text-white m-0">
                        <img 
                          src="/uploads/<%= user.photo || 'logo.jpg' %>" 
                          class="card-img-top round wh-25 border border-light border-2" 
                        >
                      </p>
                      <p class="fw-light text-center text-light m-0">
                        <%= message.message %>
                      </p>
                    </div>
                  <% } else { %>
                    <div class="d-flex fs-5 bg-info mw-85 round-msg gap-2 p-2">
                      <span class="fs-6 text-muted fw-light">
                        <%= message.datetime %>
                      </span>
                      <p class="d-flex fs-5 text-capitalize text-info-dark m-0 gap-1">
                        <img 
                          src="/uploads/<%= chatting.photo || 'logo.jpg' %>" 
                          class="card-img-top round wh-25 border border-light border-2" 
                        >
                      </p>
                      <p class="fw-light text-center text-light m-0">
                        <%= message.message %>
                      </p>
                    </div>
                  <% } %>
                </div>
              <% }) %>
            <% } else { %>
              <p class="text-center">
                Aucun message trouvé.
              </p>
            <% } %>
          </div>
        </div>
        <!-- Foot -->
        <div class="modal-footer">
          <a 
            href="/dialogue/<%= chatting.pseudo %>" 
            class="btn btn-secondary"
          >
            Retour
          </a>
        </div>
      </div>
    </div>
    </div>
  <% } %>
  