<!DOCTYPE html>
<html>
  <head>
    <title>Mon compte</title>
    <%- include('./partials/link') %>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <div class="grid-container bg-white">
      <div class="topbar">
        <%- include('./partials/nav'); %>
      </div>
      <div class="sidebar bg-dark-less text-center d-none d-md-block">
        <%- include('./partials/contact'); %>
      </div>
      <div>
        <!--Nav-right -->
        <div class="bg-dark-less px-2">
          <div class="d-flex justify-content-between py-2">
            <!-- Bouton Offcanvas toggle -->
            <div class="text-light">
              <button 
                class="btn bg-info btn-sm d-md-none text-light text-capitalize fw-bold" 
                type="button" 
                data-bs-toggle="offcanvas" 
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                  Chat
                <i class="bi bi-chat-square-text-fill"></i>
              </button>
            </div>
            <!-- Bouton Profile -->
            <a 
              href="/userpage" 
              class="btn bg-info-dark btn-sm text-light fw-bold"
            >
              <i class="bi bi-person-square "></i>
              Profile
            </a>
          </div>
        </div>
        <!-- container -->
        <div class="container">
          <div class="d-flex flex-column text-secondary align-items-center mt-2 m-0 p-0 ">
            <i class="bi bi-person-vcard-fill fs-1"></i>
            <h1 class=" fw-bold m-0 mb-3">
              Gérer Compte 
            </h1>
          </div>
          <div class="d-flex flex-column align-items-center">
            <div class="card shadow" style="width: 200px;">
              <!-- Photo -->
              <img 
                src="/uploads/<%= logoPhoto %>" 
                class="card-img-top rounded-0" 
                alt="photo de profil ami" 
              >
              <div class="card-body m-0 p-0">
                <p class="card-text text-center text-secondary fw-bold text-capitalize fs-2">
                  <%= user.pseudo  %>
                </p>
              </div>
            </div>
            <!-- Upload btn Modal -->
            <button 
              type="button" 
              class="btn btn-success shadow mt-2" 
              data-bs-toggle="modal" 
              data-bs-target="#uploadModal"
            >
              Mettre à jour l'image <i class="bi bi-pencil-square"></i>
            </button>
          </div>
          <h1 class="text-center mt-4 m-0 text-secondary">Mes informations</h1>
          <!-- Informations -->
          <div class="list-group shadow mt-4">
            <div 
              class="list-group-item list-group-item-action d-flex justify-content-between" 
              aria-current="true"
            >
              <div class="fw-bold text-success">
                Pseudo : 
                <span class="text-capitalize fw-light text-dark-75 fst-italic"> 
                  <%= user.pseudo %>
                </span>
              </div>
              <button 
                type="button" 
                class="btn btn-success btn-sm" 
                data-bs-toggle="modal" 
                data-bs-target="#editPseudoModal"
              >
                <i class="bi bi-pencil-square m-0 p-0"></i>
            </button>
            </div>
            <div 
              class="list-group-item list-group-item-action d-flex justify-content-between" 
              aria-current="true"
            >
              <div class="fw-bold text-success">
                Email : 
                <span class="text-capitalize fw-light text-dark-75 fst-italic"> 
                  <%= user.email %>
                </span>
              </div>
              <button 
                type="button" 
                class="btn btn-success btn-sm" 
                data-bs-toggle="modal" 
                data-bs-target="#editEmailModal"
              >
                <i class="bi bi-pencil-square m-0 p-0"></i>
              </button>
            </div>
            <div 
              class="list-group-item list-group-item-action d-flex justify-content-between" 
              aria-current="true"
            >
              <div class="fw-bold text-success">
                Password : 
                <span class="text-capitalize fw-light text-dark-75 fst-italic"> 
                  **********
                </span>
              </div>
              <button 
                type="button" 
                class="btn btn-success btn-sm" 
                data-bs-toggle="modal" 
                data-bs-target="#editPasswordModal"
              >
                <i class="bi bi-pencil-square m-0 p-0"></i>
              </button>
            </div>
          </div>
        </div> 
      </div>
    </div>
    <%- include('./partials/editModal'); %>
    <%- include('./partials/offcanvas'); %>
  </body>
</html>
