<!DOCTYPE html>
<html>
<head>
  <title>Add friend</title>
  <%- include('./partials/link') %>
  <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
  <%- include('./partials/nav') %>
  <div class="grid-container bg-white">
    <div class="topbar">
      <%- include('./partials/nav'); %>
    </div>
    <div class="sidebar bg-dark-less text-center pb-3">
      <%- include('./partials/contact'); %>
      <div class="link">
        <a 
          href="javascript:history.back()" 
          class="btn btn-info btn-sm align-items-center d-flex text-dark-75 fw-bold p-0 gap-2 px-1"
        >
          <i class="bi bi-arrow-left fs-3 "></i>
          Retour
        </a>
      </div>
    </div>
    <div class="flex-column align-items-center">
      <div class="text-center bg-dark-less gap-2 p-1 px-2">
        <div class="d-flex justify-content-center align-items-center">
          <p class="fw-bold fs-3 m-0">
            <i class="bi bi-person-vcard-fill text-white-50"></i>
            <span class="text-success text-capitalize"><%= user.pseudo %></span>
          </p>
        </div>
      </div>
      <div class="flex flex-column ">
        <div class="d-flex justify-content-center mt-2">
          <div class="dropdown ">
            <button 
              class="btn btn-light dropdown-toggle fw-bold  w-100" 
              type="button" 
              data-bs-toggle="dropdown" 
              aria-expanded="false"
            >
              Mon Statut <span class="text-success"> ( visible )</span>
            </button>
            <ul class="dropdown-menu w-100 text-center">
              <li><a class="dropdown-item text-success" href="#">Public</a></li>
              <li><a class="dropdown-item text-danger" href="#">Privé</a></li>
            </ul>
          </div>
        </div>
        <div>
          <p class="text-center fw-bold mt-2 fs-4">Demandes reçus :</p>
          <% friendsReceived.forEach(data =>  { %>
            <div class="container d-flex justify-content-between bg-warning-light col-md-7 mb-2 gap-2">
              <div class="d-flex justify-content-between align-items-center fw-bold text-secondary fs-5 gap-2">
                <div class="d-flex justify-content-between">
                  <span class="cursor-default" type="submit">
                    <i class="bi bi-person-plus-fill btn btn-warning btn-sm text-dark-75 cursor-default px-2"></i>
                  </span>
                </div>
                <span class="text-capitalize"><%= data %></span>
              </div>
              <form action="/answer">
                <input type="hidden" name="asked" value="<%= data %>"/>
                <button type="submit" class="btn bg-warning-light px-2">
                  <i class='bi bi-check-circle-fill'></i>
                </button>
              </form>
            </div>
          <% }); %> 
        </div> 
        <div>
          <p class="text-center fw-bold mt-2 fs-4">Demandes envoyé :</p>
          <% friendsSend.forEach(data =>  { %>
            <div class="container d-flex justify-content-between bg-secondary-light col-md-7 mb-2 gap-2">
              <div class="d-flex justify-content-between align-items-center fw-bold text-secondary fs-5 gap-2">
                <div class="d-flex justify-content-between ">
                  <span class="cursor-default" type="submit">
                    <i class="bi bi-person-plus-fill btn btn-secondary btn-sm text-light cursor-default px-2"></i>
                  </span>
                </div>
                <span class="text-capitalize"><%= data %></span>
              </div>
            </div>
          <% }); %> 
        </div>   
        <div>
          <p class="text-center fw-bold mt-2 fs-4">Les utilisateurs disponiles :</p>
          <% userPublicList.forEach(data => { %>
            <div class="container d-flex justify-content-between bg-success-light col-md-7 mb-2 gap-2">
              <div class="d-flex justify-content-between align-items-center fw-bold text-secondary fs-5 gap-2">
                <form action="/sendrequest" method="POST" class="d-flex justify-content-between">
                  <input type="hidden" name="adder" value="<%= user.pseudo %>"/>
                  <input type="hidden" name="asked" value="<%= data.pseudo %>"/>
                  <button class="btn btn-success btn-sm px-2" type="submit">
                    <i class="bi bi-person-plus-fill"></i>
                  </button>
                </form>
                <span class="text-capitalize"><%= data.pseudo %></span>
              </div>
            </div>
          <% }); %> 
        </div>     
      </div>
    </div>
  </div>
</body>
</html>
