<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/bootstrap') %>
    <style>.reverseMessage{ max-height: 60vh;flex-direction: column-reverse;}</style>
    <title>Dialogue</title>
  </head>
  <body  >
    <%- include('./partials/nav'); %>
    <!-- parent -->
    <div class="d-flex"  >
      <div class="ps-2 pe-2 bg-secondary vh-100 text-center" >
        <%-  include('./partials/contact') %>
      </div>
      <!-- parent dialogue-->
      <div class="d-flex flex-column w-100" style="margin-top:55px">
        <!-- Title -->
        <div class="text-center">
          <div class=" align-items-center">
            <h3 class="fw-bold text-capitalize fst-italic text-info"><%= user.pseudo %> : 
              <span class="text-success"><%= pseudo %></span>
            </h3>
          </div>
        </div>
        <!-- fin Title -->
        <!-- parent message-->
        <div class="d-flex flex-column container"  >
          <!-- Messages -->
          <div id="messageBox" class="text-center d-flex reverseMessage overflow-y-auto">
            <% messagesFilter.reverse().forEach(message => { %>
            <div>
              <h5 class="text-capitalize fw-bold fst-italic"><%= message.expediteur %> :
                <span class="fs-6 text-muted fw-light"><%= message.datetime %></span>
              </h5>
              <p><%= message.message %></p>
            </div>
            <% }) %>
          </div>
          <!-- fin Message -->
          <!-- champ texte -->
          <form class="text-center "   method="POST" action="/message">
            <div class=" mt-4 ">
              <textarea class="form-control" style="resize: none;" name="message" rows="3" required></textarea>
              <input type="hidden" name="destinataire" value="<%= pseudo %>">
              <input type="hidden" name="datetime" value="<%= heure %>">
            </div>
            <div class="mb-2 ">
              <button type="submit" class="btn btn-success fst-italic ms-2 mt-2">envoyer</button>
            </div>
          </form>
          <!-- fin champ texte -->
        </div>
        <!-- fin parent message-->
      </div>
      <!-- fin parent dialogue-->
    </div>
    <!-- fin parent -->
  </body>
</html>