<!DOCTYPE html>
<html>
<head>
  <title>Page utilisateur</title>
  <%- include('./partials/link') %>
</head>
<body>
  <%- include('./partials/nav'); %>
  <div class="container-fluid bg-white p-0 vh-100 pt-5">
    <div class="row g-0 h-100 ">
      <!-- Left md-3 -->
      <div class="col-md-3 bg-dark-less text-center d-none d-md-block  h-100">
        <%- include('./partials/contact'); %>
      </div>
      <!-- Right md-9 -->
      <div class="col-md-9 p-0 h-100 d-flex flex-column">
        <div class="bg-dark-less">
          <div class="d-flex justify-content-between p-2">
            <!-- Bouton Offcanvas toggle -->
            <div class="text-light">
              <button 
                class="btn bg-info btn-sm d-md-none text-dark-75 text-capitalize fw-bold" 
                type="button" 
                data-bs-toggle="offcanvas" 
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                  Chat
                <i class="bi bi-chat-square-text-fill"></i>
              </button>
            </div>
            <!-- Account -->
            <a 
              href="/account/<%= user.pseudo %>" 
              class="text-light btn bg-success btn-sm fw-bold">
              <i class="bi bi-person-vcard-fill"> Compte</i>
            </a>
          </div>
        </div>
        <div class="container  flex-grow-1 pb-4">
          <h1 class="text-secondary fw-bold text-center text-capitalize"><%= user.pseudo %></h1>
          <div class="d-flex justify-content-center align-items-center">
              <img 
                src="./uploads/<%= logoPhoto %>" 
                class="wh-100 round border border-info border-4 shadow" 
                alt="photo de profil ami" 
              />
          </div>
          <!-- friend -->
          <div class="text-center mt-3">
            <a href="/addfriend" class="btn btn-info border-color-primary btn-lg shadow">
              <i class="bi bi-person-fill-add"> Amis</i>
            </a>
          </div>
          <!-- Mes amis -->
          <div class="d-flex flex-column bg-info-light shadow mt-4 pb-2 rounded-top">
            <h3 class="text-center text-light bg-info fw-bold rounded-top">Mes Amis :</h3>
            <% friends.forEach(data => { %>
              <div class="d-flex justify-content-center mt-2">
                <!-- info friend -->
                <div class="d-flex align-items-center fw-bold text-secondary fs-5 gap-2 mx-2" style="width: 200px;">
                  <img 
                    src="./uploads/<%= data.photo || 'logo.jpg' %>" 
                    class="card-img-top round wh-25 border border-info border-2" 
                    alt="photo de profil ami"
                  />
                  <span class="text-capitalize"><%= data.pseudo %></span>
                </div>
                <!-- Ecrire message -->
                <form action="/chat" method="POST">
                  <input type="hidden" name="destinataire" value="<%= data.pseudo %>"/>
                  <button class="btn px-0 fst-italic" type="submit">
                    <i class="bi bi-chat-square-text-fill text-info-dark fw-bold"> Ecrire.. </i> 
                  </button>
                </form>
              </div>
            <% }); %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('./partials/offcanvas'); %>
</body>
</html>
