<!DOCTYPE html>
<html>
<head>
  <title>Page utilisateur</title>
  <%- include('./partials/link') %>
  <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
  <%- include('./partials/nav') %>
  <div class="grid-container bg-white">
    <div class="topbar">
      <%- include('./partials/nav'); %>
    </div>
    <div class="sidebar bg-dark-less text-center pb-3">
      <%- include('./partials/contact'); %>
      <div class="link">
        <a 
          href="/addfriend" 
          class="btn btn-success btn-sm d-flex align-items-center fw-bold p-0 gap-2 px-1"
        >
          <i class="bi bi-person-fill-add fs-3"></i>
          Friend
        </a>
      </div>
    </div>
    <div class="flex-column align-items-center">
      <div class="text-center bg-dark-less gap-2 p-1 px-2">
        <div class="d-flex justify-content-center align-items-center">
          <p class="fw-bold fs-3 m-0">
            <i class="bi bi-person-vcard-fill text-white-50"></i>
            <span class="text-success text-capitalize"><%= user.pseudo %></span>
          </p>
        </div>
      </div>
      <div class="flex flex-column ">
        <div class="d-flex justify-content-center mt-2">
          <div class="dropdown ">
            <button 
              class="btn btn-light dropdown-toggle fw-bold  w-100" 
              type="button" 
              data-bs-toggle="dropdown" 
              aria-expanded="false"
            >
              Mon Statut <span class="text-success"> ( visible )</span>
            </button>
            <ul class="dropdown-menu w-100 text-center">
              <li><a class="dropdown-item text-success" href="#">Public</a></li>
              <li><a class="dropdown-item text-danger" href="#">Privé</a></li>
            </ul>
          </div>
        </div>
        <div>
          <p class="mt-2 fs-4 text-center">Mes Amis :</p>
          <% friends.forEach(data =>  { %>
            <div class="container d-flex justify-content-between bg-info-light col-md-7 mb-2 gap-2">
              <div class="d-flex justify-content-between align-items-center fw-bold text-secondary fs-5 gap-2">
                <div class="d-flex justify-content-between">
                  <span class="cursor-default" type="submit">
                    <i class="bi bi-person-check-fill text-dark-75 btn btn-info cursor-default btn-sm px-2"></i>
                  </span>
                </div>
                <span class="text-capitalize"><%= data %></span>
              </div>
            </div>
          <% }); %> 
        </div> 
      </div>
    </div>
  </div>
</body>
</html>
