<!DOCTYPE html>
<html>
<head>
  <title>Page utilisateur</title>
  <%- include('./partials/bootstrap') %>
</head>
<body >
  <%- include('./partials/nav') %>
<div class="container">
  <div class="d-flex flex-column align-items-center mb-5">
    <h1>Bonjour <span class="text-success text-capitalize"><%= user.pseudo %></span> ! </h1>
  </div>

  <div class="d-flex ">
    <div>
      <h3 class="fw-bold mb-3 text-info">Liste</h3>
      <div>
        <%
          var contacts = [...new Set(messagesReceived.map(message => message.expediteur))];
              contacts = [...new Set(messagesSent.map(message => message.destinataire))]; 
              contacts.forEach(contact => { 
        %>
        <a href="/userpage/<%=contact %>"class="text-decoration-none text-dark text-capitalize fw-bold fs-3">
            <%= contact %><br>
        </a>
        <% }); %>
      </div>
    </div>
  
  </div>
</body>
</html>
