<!DOCTYPE html>
<html>
<head>
  <title>Page utilisateur</title>
  <%- include('./partials/bootstrap') %>
</head>
<body >
  <%- include('./partials/nav') %>
<div class="container">
  <div class="d-flex flex-column align-items-center mb-5">
    <h1>Bonjour <span class="text-success text-capitalize"><%= user.pseudo %></span> ! </h1>
    <div>
      <a href="/message/new" class="btn btn-primary mt-2">Nouveau Message</a>
    </div>
    
  </div>

  <div class="d-flex ">
    <div>
      <h3 class="text-center mb-3">contacts</h3>
      <div>
        <%
          var contacts = [...new Set(messagesReceived.map(message => message.expediteur))];   
          contacts.forEach(contact => { 
        %>
          <a href="/userpage/<%=contact %>"class=""><%= contact %><br></a>
        <% }); %>
      </div>
    </div>
  
  </div>
</body>
</html>
