<!DOCTYPE html>
<html>
<head>
  <title>Page utilisateur</title>
  <%- include('./partials/link') %>
</head>
<body>
  <%- include('./partials/nav'); %>
  <div class="container-fluid bg-white p-0 vh-100">
    <!-- Container  -->
    <div class="flex-container pt-5">
      <!-- Left fix-->
      <div class="fixed-sidebar bg-secondary-dark text-center d-none d-md-block  h-100">
        <%- include('./partials/contact'); %>
      </div>
      <!-- Right grow -->
      <div class="flex-grow d-flex flex-column h-100 p-0">
        <div class="bg-secondary">
          <div class="d-flex justify-content-between p-2">
            <!-- Bouton Offcanvas toggle -->
            <div class="d-md-none text-light">
              <button 
                class="btn bg-info btn-sm fw-bold" 
                type="button" 
                data-bs-toggle="offcanvas" 
                data-bs-target="#offcanvasNavbar" 
                aria-controls="offcanvasNavbar"
              >
                Chat
                <i class="bi bi-chat-square-text-fill"></i>
              </button>
            </div>
            <!-- Fix : center profile -->
            <div class="d-none d-md-inline "></div>
            <!-- Account -->
            <a 
              href="/account/<%= user.pseudo %>" 
              class="btn bg-info btn-sm fw-bold ">
              <i class="bi bi-person-vcard-fill fst-normal"> Compte</i>
            </a>
          </div>
        </div>
        <div class="container flex-grow-1 pb-4">
          <h1 class="text-secondary fw-bold text-center text-capitalize">
            <%= user.pseudo %>
          </h1>
          <div class="d-flex justify-content-center align-items-center">
              <img 
                src="<%= logoPhoto %>" 
                class="wh-100 round border border-info border-4 shadow" 
              />
          </div>
          <!-- friend -->
          <div class="text-center mt-3">
            <a href="/addfriend" class="btn btn-secondary btn-lg shadow">
              <i class="bi bi-person-fill-add"> Gestion Amis</i>
            </a>
          </div>
          <!-- Mes amis -->
          <div class="d-flex flex-column bg-info-light shadow mt-4 pb-2rounded-top">
            <h3 class="text-center text-light bg-info fw-bold p-1  rounded-top">
              Mes Amis :
            </h3>
            <% friends.forEach(data => { %>
              <div class="d-flex justify-content-center mt-2">
                <!-- info friend -->
                <div 
                  class="d-flex align-items-center fw-bold text-secondary fs-5 gap-2 mx-2" 
                  style="width: 200px"
                >
                  <img 
                    src="<%= '/image/profil' + data.pseudo %>" 
                    onerror="this.onerror=null; this.src='/public/img/profilDefault.jpg'" 
                    class="card-img-top round wh-25 border border-info border-2" 
                  />
                  <span class="text-capitalize"><%= data.pseudo %></span>
                </div>
                <!-- Ecrire message -->
                <form action="/chat" method="POST">
                  <input type="hidden" name="destinataire" value="<%= data.pseudo %>"/>
                  <button class="btn px-0 fst-italic" type="submit">
                    <i class="bi bi-chat-square-text-fill text-info-dark fw-bold"> 
                      Ecrire.. 
                    </i> 
                  </button>
                </form>
              </div>
            <% }); %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('./partials/offcanvas'); %>
</body>
</html>
